body,html{
  font-family: 'Merriweather Sans'
}

.container{
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid black;
}

.btn{
width: 30%;
border-radius: 10px;
margin: 5px;
font-family: 'Merriweather Sans';
padding: 10px;
font-size: 1.3rem;
}

.increas{
  background-color: #A9B4C2;
  color:white
}

.reset{
  background-color: #7D98A1
}

p {
  font-size: 1.2rem;
  font-weight: bolder;
}

span {
 color: rgba(210, 81, 30, 0.77);
}